/* style for full page */
*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
    font-style: normal;

}
/* this is nav section */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 120px;
}
.logo{
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;

}
.download-resume button{
color: #0D1321;
text-align: center;
font-size: 20px;
font-weight: 600;
border-radius: 5px;
padding: 15px 20px;

}
/* this is main section */
.banner{
    background-image: url("");
    text-align: center;
    padding: 35px 0;
    
}
.banner-icon{
    margin-bottom: 30px;
}

.banner-title{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-description p{
    color: #0D1321;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    }

.banner-contact-btn .Contact-btn{
    color: #FFF;
    background-color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 5px;
}

/* this is why web development section */
.why-web-development{
    margin: 80px 100px;
    padding: 80px 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.05);

}

.section-title{
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 25px;

}
.section-description{
    color: #0D1321;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 45px;
}

.why-web-column{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.why-web-column-des-heading{
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
}
.why-web-column-des-desc{
    color: #0D1321;
    font-size: 18px;
    font-weight: 400;
    margin: 18px 0 35px 0;
}

.why-web-column-des-btn{
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 5px;
}

.inspiration{
    margin: 80px 100px;
}
.video-container iframe{
    justify-content: center;
    width: 1100px;
    height: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
   
}
/* this is current target section */
.current-target{
    margin: 80px 100px;
}
.current-target-column{
    display: flex;
    justify-content: space-between;
    
}
.skill{
    padding: 40px;
}

.skill-img{
    margin-bottom: 25px;
}
.skill-heading{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}
.skill-desc{
    color: #0D1321;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}
.skill-btn {
    color: #0D1321;
    font-size: 18px;
    font-weight: 700;
    border: 0 0 2px 0;
}
.background-css{
    border-radius: 16px;
background: rgba(0, 76, 232, 0.07);
}
.background-js, .background-html{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.07);
}
.next-target{
    margin: 80px 100px;
}
.next-target-column{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    border: 2px solid;
    margin-bottom: 25px;
    border-radius: 10px;
}